.selected-card-bar {
  width: 100%;
  height: 100%;

  background-image: $color-background-gradient;

  border-radius: $border-radius-huge;

  padding: 0 2rem;

  display: flex;

  &-information {
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;

    & > * {
      &:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    &-icon {
      width: 3rem;
      height: 3rem;

      cursor: pointer;
    }

    &-text {
      color: $color-text-secondary;
      font-family: $font-family-regular;
      font-size: $font-size-medium;
    }
  }

  &-action {
    width: 30%;
    height: 100%;

    cursor: pointer;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &-icon {
      width: 2rem;
      height: 2rem;

      &:not(:last-child) {
        margin-right: 2rem;
      }
    }
  }
}
