// colors
$color-accent-primary: #2b2ecf;
$color-accent-secondary: #652bcf;

$color-highlight-primary: #ff0066;
$color-highlight-secondary: #f6c937;

$color-text-primary: $color-accent-primary;
$color-text-secondary: #ffffff;
$color-text-tertiary: #7f8a9c;

$color-background-primary: #e7edf6;
$color-background-secondary: #ffffff;

$color-background-gradient: linear-gradient(
  135deg,
  $color-accent-primary 0%,
  $color-accent-secondary 100%
);

$color-icon-selected: #ffffff;
$color-icon-unselected: #c5d3e8;

$color-icon-primary: $color-accent-primary;
$color-icon-secondary: $color-highlight-primary;

$color-icon-check: #37f6b8;

// border radius
$border-radius-round: 50%;

$border-radius-huge: 4rem;
$border-radius-medium: 3rem;
$border-radius-regular: 2rem;
$border-radius-small: 1.1rem;

// font-size
$font-size-super: 5rem;
$font-size-large: 4.2rem;
$font-size-huge: 3.6rem;
$font-size-medium: 2.4rem;
$font-size-small: 1.8rem;
$font-size-tiny: 1.4rem;

// font-family
$font-family-title: "Poppins", sans-serif;
$font-family-regular: "Open Sans", sans-serif;

// shadows
$shadow-small: 0rem 0rem 1.9rem 0.1rem rgba(0, 0, 0, 0.2);
$shadow-text: 0 0.4rem 0.8rem #32261a;

// max width break-points

// desktop - laptop - tablet
$break-point-1: 1550px;
$break-point-2: 1390px;
$break-point-3: 1180px;

// tablet - mobile
$break-point-4: 1050px;
